# Frontend
NEXT_PUBLIC_SUPABASE_URL=https://rlbqumfobvpnmfvzvien.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wurS-7tCOAGeJ61o-rqbeg_7Um0AWox
# Backend
SUPABASE_URL=https://rlbqumfobvpnmfvzvien.supabase.co
SUPABASE_KEY=sb_publishable_wurS-7tCOAGeJ61o-rqbeg_7Um0AWox

GEMINI_API_KEY=your-gemini-api-key-here
